footer.site-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: #333;
    color: #fff;
}
.site-footer span {
    color: #918f8f;
    font-size: 14px;
    margin-top: 25px;
    display: block;
    text-align: center;
}