footer.site-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: $black;
    color: $white;
}
.site-footer span {
    color: $gray;
    font-size: 14px;
    margin-top: 25px;
    display: block;
    text-align: center;
}