@import '../_config';

.categoriesMenu {
    list-style-type: none;
}
.categoriesMenu li {
    position: relative;
}  
.categoriesMenu ul {
    list-style-type: none;
    padding-left: 0;
}    
      
.left-block {
    flex-basis: 20%;
}
.content-block {
    flex-basis: 80%;
}
.productsWrap {           
    display: block;
}
        
.products {           
    margin: 0 auto;
    margin-bottom: 20px;
}       
.products .column_1-3 {
    flex-basis: 33%;
    box-sizing: border-box;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    position: relative;
}

.products .column_1-3 .product-wrap {
    padding: 10px 30px;
    background: $white;
}

.products .column_1-3 a {
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
}
.productsBox {
    display: flex;
}
.productsPrice {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    flex-basis: 50%;
    margin-bottom: 0;
}
.productsSku {
    flex-basis: 50%;
    margin-bottom: 0;
    text-align: right;
}
.productsLink {
    text-decoration: none;
}
.productsName {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2e2e2e;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
}
.productsDescription {
    font-size: 14px;
    height: 0;
    margin: 0;
    visibility: hidden;
}
.products .container {
    max-width: 100%;
}   

.categoryContentInfo {
    padding: 10px 40px;
}
.categoryDescriptionText {
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #2e2e2e;
}

.left-block {
    margin-top: 40px;
}
.categoriesMenu {
    padding-left: 0;
}
.categoriesMenu li {
    box-sizing: border-box;
    padding: 5px 15px;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(201,197,201,1);
    -moz-box-shadow: 1px 1px 2px 0px rgba(201,197,201,1);
    box-shadow: 1px 1px 2px 0px rgba(201,197,201,1);
    &:hover{
        background: #f4eef4;
    }
}
.categoriesMenu li a {
    color: #000;
    line-height: 30px;
    font-weight: 100;
    cursor: pointer;
    word-wrap: break-word;
    font-size: 16px;
    text-decoration: none;
}
.categoriesMenu li ul li {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}    
.mobileMenuCategories {
    display: none;
}
@media screen and (min-width:$mediaTablet) {
    .categoriesMenu {
        display: block !important;
    }
    .filtersBlock {
        display: block !important;
    }
    .productWrap {
        padding: 10px 30px;
        background: $white;
    }
}

@media screen and (min-width:$mediaTablet) and (max-width:$mediaDesktop) {
    .productWrap {
        padding: 10px;
    }
}

@media screen and (min-width:$mediaMin) and (max-width:$mediaTablet) {   
    .mobileMenuCategories {
        display: block;
    }
    .mobileMenuCategories i {
        cursor: pointer;
    }
    .category .leftBlock {
        flex-basis: 100%;
        display: flex;
        margin-top: 20px;
        padding: 0 20px;
        border-bottom: 1px $black dashed;
    }
    .category .contentBlock {
        flex-basis: 100%;
    }
    .categoriesList {
        display: flex;
        width: 100%;
        position: relative;
    }
    .categoriesList > div {
        flex-basis: 50%
    }
    .categoriesMenu {
        position: absolute;
        width: 100%;
        z-index: 9;
        background: $white;
        top: 45px;
        max-width: 360px;
        padding: 10px;
        -webkit-box-shadow: 1px 3px 3px 3px $lightGray;
        box-shadow: 1px 3px 3px 3px $lightGray;
        border: 1px solid $lightGray;
    }
    .filtersBlock {
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        top: 45px;
        background: $white;
        z-index: 9;
        max-width: 360px;
        padding: 10px;
        -webkit-box-shadow: 1px 3px 3px 3px $lightGray;
        box-shadow: 1px 3px 3px 3px $lightGray;
        border: 1px solid $lightGray;
    }
    .products {
        max-width: 100%;
        padding: 0 20px;
    }
    body .site h1 {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0 20px;
    }
    .categoryContentInfo {
        padding: 10px 20px;
    }
    .slideBlock {
        max-width: 360px;
    }
    .productsBox {
        padding: 0 10px;
    }
    .productsDescription {
        background: $white;
        padding: 10px;
    }
}
@media screen and (min-width:$mediaMin) and (max-width:$mediaMobileMiddle) {
    .categoriesList {
        flex-wrap: wrap;
    }
    .categoriesList > div {
        flex-basis: 100%;
    }
    .filtersBlock {
        top: 90px;
    }  
    .category .leftBlock {
        padding: 0 10px;
    } 
    body .site h1 {
        padding: 0 10px;
    } 
    .container.products {
        max-width: 100%;
        padding: 0 10px;
    }
    body .site h2 {
        text-align: left;
        padding: 0;
        @include hTwo;
    }
    .filterPriceInputs_min {
        padding-right: 5px;
    }
    .filterPriceInputs_max {
        padding-left: 5px;
    }
    .filterPrice {
        margin-top: 10px;
        margin-bottom: 10px;
        border: 0px solid $black;
        border-bottom: 1px dashed $black;
        border-radius: 0;
        padding: 10px 0;
    }
    .filterAttributes {
        margin-top: 10px;
        margin-bottom: 10px;
        border: 0px solid $black;
        border-radius: 0px;
        border-bottom: 1px dashed $black;
        padding: 10px 0;
    }
    .filterManufacturers {
        margin-top: 10px;
        margin-bottom: 10px;
        border: 0px solid $black;
        border-radius: 0px;
        border-bottom: 1px dashed $black;
        padding: 10px 0;
    }
}

@media screen and (min-width:$mediaMin) and (max-width:$mediaMobileMin) {
    .sliderWrap form {
        display: block;
        float: none;
    }
    .filterPriceInputs {
        max-width: 270px;
    }
    .sliderWrap form button {
        margin: 5px auto;
        display: block;
        width: 100px;
    }
}