.categoriesMenu {
    list-style-type: none;
}
.categoriesMenu li {
    position: relative;
}  
.categoriesMenu ul {
    list-style-type: none;
    padding-left: 15px;
}
.toggleButton{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}   
.toggleButton::after{
    display: inline-block;
    vertical-align: top;
    content: '+';
    font-size: 22px;
    cursor: pointer;
    padding-right: 5px;
    color: #000;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: 100;
    cursor: pointer;
    word-wrap: break-word;
}  
.toggleButton.show::after{
    content: '';
}  
.subMenu {
    display: none;
}
.subMenu.show {
    display: block;
}     
      
.left-block {
    flex-basis: 20%;
}
.content-block {
    flex-basis: 80%;
}
        
.products {           
    margin: 0 auto;
    margin-bottom: 20px;
}       
.products .column_1-3 {
    flex-basis: 33%;
    box-sizing: border-box;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    position: relative;
}

.products .column_1-3 .product-wrap {
    padding: 10px 30px;
    background: #FFF;
}

.products .column_1-3:hover .product-wrap {
    position: absolute;
    -webkit-box-shadow: 1px 3px 3px 3px #D6D6D6;
    box-shadow: 1px 3px 3px 3px #D6D6D6;
    z-index: 9;
}
.products .column_1-3 a {
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
}
.products__box {
    display: flex;
}
.products .column_1-3 .products__price {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    flex-basis: 50%;
    margin-bottom: 0;
}
.products .column_1-3 .products__sku {
    flex-basis: 50%;
    margin-bottom: 0;
    text-align: right;
}
.products .column_1-3 .products__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2e2e2e;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
}
.products .column_1-3 .products__description {
    font-size: 14px;
    height: 0;
    margin: 0;
    visibility: hidden;
}
.products .column_1-3:hover .products__description {
    height: auto;
    margin-top: 10px;
    visibility: visible;
}
.products .container {
    max-width: 100%;
}   
.pagination {
    margin: 10px auto;
    text-align: center;
    margin-top: 50px;
}
.pagination__ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}
.pagination .page a {
    width: 40px;
    height: 40px;
    display: block;
    line-height: 40px;
    color: #918f8f;
    text-decoration: none;
    color: #918f8f;
    margin: 0 5px;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.pagination .page a:hover {
    color: #333;
    border-color: #333;
    font-weight: 600;
    border: 1px solid #333;
}
.pagination .page.active a {
    color: #333;
    border-color: #333;
    font-weight: 600;
    border: 1px solid #333;
    box-sizing: border-box;
}
.category__content-info {
    padding: 10px 40px;
}
.category__description-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #2e2e2e;
}

.left-block {
    margin-top: 40px;
}
.categoriesMenu {
    padding-left: 0;
}
.categoriesMenu li {
    box-sizing: border-box;
    padding: 5px 15px;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(201,197,201,1);
    -moz-box-shadow: 1px 1px 2px 0px rgba(201,197,201,1);
    box-shadow: 1px 1px 2px 0px rgba(201,197,201,1);
}
.categoriesMenu li a {
    color: #000;
    line-height: 30px;
    font-weight: 100;
    cursor: pointer;
    word-wrap: break-word;
    font-size: 16px;
    text-decoration: none;
}
.categoriesMenu li .subMenu li {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}    
.mobile-menu_categories {
    display: none;
}
@media screen and (min-width:1000px) {
    .categoriesMenu {
        display: block !important;
    }
    .filtersBlock {
        display: block !important;
    }
}

@media screen and (min-width:300px) and (max-width:1000px) {
    .mobile-menu_categories {
        display: block;
    }
    .mobile-menu_categories i {
        cursor: pointer;
    }
    .category .left-block {
        flex-basis: 100%;
        display: flex;
        margin-top: 20px;
        padding: 0 20px;
        border-bottom: 1px #333 dashed;
    }
    .category .content-block {
        flex-basis: 100%;
    }
    .categories-list {
        display: flex;
        width: 100%;
        position: relative;
    }
    .categories-list > div {
        flex-basis: 50%
    }
    .categoriesMenu {
        position: absolute;
        width: 100%;
        z-index: 9;
        background: #FFF;
        top: 45px;
        max-width: 360px;
        padding: 10px;
        -webkit-box-shadow: 1px 3px 3px 3px #D6D6D6;
        box-shadow: 1px 3px 3px 3px #D6D6D6;
        border: 1px solid #D6D6D6;
    }
    .filtersBlock {
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        top: 45px;
        background: #FFF;
        z-index: 9;
        max-width: 360px;
        padding: 10px;
        -webkit-box-shadow: 1px 3px 3px 3px #D6D6D6;
        box-shadow: 1px 3px 3px 3px #D6D6D6;
        border: 1px solid #D6D6D6;
    }
    .container.products {
        max-width: 100%;
        padding: 0 20px;
    }
    .products .column_1-3:hover .product-wrap {
        -webkit-box-shadow: 0;
        box-shadow: 0;
    }
    .products .column_1-3:hover .products__description {
        visibility: hidden;
        height: 0;
    }
    body .site h1 {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0 20px;
    }
    .category__content-info {
        padding: 10px 20px;
    }
    .slide_block {
        max-width: 360px;
    }
}
@media screen and (min-width:300px) and (max-width:550px) {
    .categories-list {
        flex-wrap: wrap;
    }
    .categories-list > div {
        flex-basis: 100%;
    }
    .filtersBlock {
        top: 90px;
    }  
    .category .left-block {
        padding: 0 10px;
    } 
    body .site h1 {
        padding: 0 10px;
    } 
    .container.products {
        max-width: 100%;
        padding: 0 10px;
    }
}

@media screen and (min-width:300px) and (max-width:400px) {
    .filter-price {
        border: 0px solid #333;
        border-bottom: 1px dashed #333;
        border-radius: 0;
    }
    .slider_wrap form {
    display: block;
    float: none;
    }
}