@import '../_config';

.mainInfoBlock  {
    width: 90%;
    margin:30px auto;
}
.mainInfoBlock p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: $gray;
    padding: 10px 25px;
}
.site .mainInfoBlock h2 {
    @include hTwo;
    display: block;
    padding: 0 30px;
}
.mainInfoBlock p {
    padding: 10px 0px;
}

@media screen and (min-width:1200px){
    .mainInfoBlock {
        padding: 10px 0px;
    }
    .mainInfoBlock p {
        padding: 0px 30px;
    }
}

@media screen and (min-width:$mediaMin) and (max-width:$mediaMaxTablet) {
    .site .main-page h2 {
        padding: 0px 0px;
    }
}

@media screen and (min-width:$mediaMin) and (max-width:$mediaTablet) { 
    .mainInfoBlock {
        width: 100%;
    }
}