.productsSpecialsWrap {
    display: flex;
    flex-wrap: wrap;  
    width: 90%;
    margin: 30px auto;
}
.productsSpecials {
    flex-basis: 25%;
    padding: 10px 30px;
    box-sizing: border-box;
     -webkit-transition: all 0.5s ease-out;
     -moz-transition: all 0.5s ease-out;
     -o-transition: all 0.5s ease-out;
     transition: all 0.5s ease-out;
}

.productsSpecials:hover {
    -webkit-box-shadow: 1px 3px 3px 3px #D6D6D6;
    box-shadow: 1px 3px 3px 3px #D6D6D6;
    transform: scale(1.1);
    }
.productsSpecials a {
text-decoration: none;
display: block;
margin-bottom: 15px;
}
.productsSpecials__img {
    cursor: pointer;
}
.productsSpecials__name{
    cursor: pointer;
}

.productsSpecials__price {
font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #000;
}
.productsSpecials__name {
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #2e2e2e;
text-decoration: none;
text-transform: uppercase;
}
.productsSpecials__description {
font-size: 14px;
margin-top: 10px;
}