@import '../_config';

.productsSpecialsWrap { 
    width: 90%;
    margin: 30px auto;
}
.productsSpecialsBlock {
    display: flex;
    flex-wrap: nowrap; 
}
.productsSpecials {
    flex-basis: 25%;
    padding: 10px 30px;
    box-sizing: border-box;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.productsSpecials:hover {
    -webkit-box-shadow: 1px 3px 3px 3px $lightGray;
    box-shadow: 1px 3px 3px 3px $lightGray;
    transform: scale(1.1);
    }
.productsSpecials a {
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
}
.productsSpecials__img {
    cursor: pointer;
}
.productsSpecials__name{
    cursor: pointer;
}
.productsSpecials__price {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: $black;
}
.productsSpecials__name {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $black;
    text-decoration: none;
    text-transform: uppercase;
}
.productsSpecials__description {
    font-size: 14px;
    margin-top: 10px;
}

@media screen and (min-width:$mediaMin) and (max-width:$mediaMaxTablet) { 
    .productsSpecials {
        padding: 10px 10px;
    }
    .site .main-page .productsSpecialsWrap > h2 {
        padding: 0px 0px;
    }
}

@media screen and (min-width:$mediaMobileHorizontal) and (max-width:$mediaTablet) { 
    .productsSpecialsWrap {
        width: 100%;
    }   
    .productsSpecialsBlock {
        flex-wrap: wrap;   
    }
    .productsSpecials {
        flex-basis: 50%;
        padding: 10px 10px;
    }
}

@media screen and (min-width:$mediaMin) and (max-width:$mediaMobileHorizontal) { 
    .productsSpecialsWrap { 
        width: 100%;
    }
    .productsSpecialsBlock {
        flex-wrap: wrap;   
    }  
    .productsSpecials {
        flex-basis: 100%;
        padding: 10px 0px;
        padding-bottom: 30px;
    } 
}    