header.site-header {
    height: 160px;
    width: 100%;
    border-bottom: 1px solid $black;
    box-sizing: border-box;
}
.header-wrapper {
    width: 100%;    
}
.header-popup {
    width: 100%; 
    text-align: right;   
}
.header__contacts {
    ul { 
    li {
    a {
    color: $gray;
    }
    }
    }
    }
    .site-header .container {
    align-items: center;
    }
    .site-header .column_1-3 {
    
    &:nth-child(1) {
    justify-content: left;
    }
    &:nth-child(2) {
    justify-content: center;
    }
    &:nth-child(3) {
    justify-content: right;
    }
    }
    .menu-wrapper {
    width: 100%;
    padding-top: 10px;
    }
    .main-menu {    
    li {
    &:nth-child(1) {
    padding-left: 0px;    
    } 
    &:nth-child(1) a {
    padding-left: 0px;    
    }   
    display: inline-block;  
    vertical-align: top;
    padding-left: 10px;
    a {
    color: $gray; 
    text-transform: uppercase;
    font-weight: bold;   
    }
    }  
    }

    .header__contacts a {
        text-decoration: none;
    }
    .header__contacts a span {
        text-decoration: underline;
    }
    .header__contacts a span:hover {
        text-decoration: none;
    }
    
    /* Header modal */
    .modal-wrapper
     {
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.65);
        display: none;
        overflow: auto;
        width: 100%;
        height: 100%;
        z-index: 1000;
        /*	opacity: 0; */
        opacity: 1;
    }
    .modal-wrapper.show {
        display: block;
    }
    .modal-table {
        display: table;
        width: 100%;
        height: 100%;
    }
    
    .modal-table__cell {
        display: table-cell;
        padding: 0 1em;
        vertical-align: middle;
        text-align: center;
    }
    .modal-block
     {
    display: inline-block;
    padding: 30px;
    width: 100%;
    max-width: 700px;
    height: auto;
    background: $white;
    -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    color: $black;
    text-align: left;
    font-size: 13px;
    z-index: 9999;
    border-radius: 5px;
    position: relative;
    padding-bottom: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    }
    
    .close-modal {
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: $redCalor;
    border-radius: 50%;
    color: $white;
    line-height: 25px;
    }
    
    .modal-block h3 {
    text-align: center;
    color: $black;
    font-size: 30px;
    font-family: Open Sans Bold;
    line-height: 40px;
    margin: 10px 0;
    }
    
    
    
     @media screen and (min-width:$mediaMin) and (max-width:$mediaMobileMiddle) {
    .modal-block h3 {	 
    font-size: 20px;
    line-height: 25px;
    }
    }
    
    /* End Header modal */
    
    /* Top menu */
    .main-menu li {
    position: relative;
    line-height: 50px;
    height: 50px;
    padding-right: 10px;
    }
    .main-menu li a {
    margin-top: 10px;
    }
    
    .main-menu .sub-menu {
        display: none;
        position: absolute;
        width: 200px;
        left: 0;
        top: 50px;
        z-index: 9;
        margin-top: 0 !important;
        background: $white;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(46, 45, 45, 0.38);
        -moz-box-shadow: 0px 2px 5px 0px rgba(46, 45, 45, 0.38);
        box-shadow: 0px 2px 5px 0px rgba(46, 45, 45, 0.38);
        padding-bottom: 20px;
    }
    .main-menu .sub-menu.show {
        display: block;
      }
    .sub-menu .sub-menu {
    position: absolute;
    left: 200px;
    top: 0;
    z-index: 9;
    margin-top: 0 !important;
    background: $white;
    padding-bottom: 10px;
    }  
    .main-menu .sub-menu li {
        display: block;
        padding-left: 25px;
    }
    .main-menu .sub-menu li {
        line-height: 30px;
        height: 30px;
    }
    .main-menu .sub-menu li a {
        padding: 0 5px;
        margin-top: 0px;
        padding-top: 10px;
    }
    .main-menu .sub-menu .sub-menu li a {
        margin-top: 10px;
        padding-top: 0;
    }
    .mobile-menu_main {
        display: none;
    }
      /* End top menu */

@media screen and (min-width:$mediaTablet) { 
    .main-menu_wrapper {
        display: block !important;
    }
}      

@media screen and (min-width:$mediaMin) and (max-width:$mediaTablet) { 

    body header.site-header {
        height: auto;
    }    
    .header__contacts {
        display: none;
    }
    .header__contacts.mobile {
        display: block;
    }
    body .contacts-block {
        display: none;
    }
    body .logo-block {
        flex-basis: 100%;
    }
    body .logo-block .logo {
        display: block;
        text-align: center;
        margin: 10px auto;
    }
    body .popup-block {
        flex-basis: 50%;
    }
    body .popup-block .header-popup {
        text-align: left;
        margin: 10px 0;
    }
    body .menu-block {
        flex-basis: 50%;
        text-align: right;
        position: relative;
    }
    .mobile-menu_main {
        display: block;
        margin-bottom: 0;
    }
    .mobile-menu_main i.fa-bars {
        font-size: 24px;
        line-height: 40px;
    }
    body .menu-block .main-menu {
        position: absolute;
        z-index: 9;
        width: 100%;
        max-width: 300px;
        right: 0;
        text-align: left;
        background: $white;
        padding-left: 0;
        padding: 10px 0;
        box-shadow: 1px 3px 3px 3px #D6D6D6;
    }
    .main-menu li {
        display: inline-block;
        vertical-align: top;
    }
    body .main-menu li {
        display: block;
        line-height: 40px;
        height: auto;
        position: relative;
        padding-left: 0;
        padding-right: 0;
    }
    body .main-menu li a {
        display: block;
        margin: 0;
        padding: 0 10px;
    }
    body .main-menu li:nth-child(1) a {
        padding: 0 10px;
    }
    body .main-menu li a::after {
        display: block;
        content: '';
        clear: both;
    }
    .main-menu li i.fas {
        line-height: 40px;
        font-size: 20px;
        z-index: 9;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        right: 7px;
    }
    .main-menu .sub-menu li i.fas {
        line-height: 30px;
        font-size: 18px;
    }
    .main-menu li i.fas.hide {
        display: none;
    }
    .main-menu .sub-menu {
        position: relative;
        width: 100%;
        left: 0;
        top: 0;
        box-shadow: none;
    } 
    .main-menu .sub-menu li {
        padding: 0;
    }
    body .main-menu .sub-menu li:nth-child(1) {
        padding-left: 0px;
    }
    body .main-menu .sub-menu li a {
        padding: 0 10px;
        padding-left: 20px;
        font-size: 15px;
    } 
    body .main-menu .sub-menu .sub-menu li a {
        padding: 0 10px;
        padding-left: 25px;
        font-size: 14px;
    }    
    .main-menu .sub-menu li {
        height: 100%;
    }  
    .main-menu .sub-menu {
        padding-bottom: 0px;
    }
    .header__contacts.mobile {
        padding-bottom: 10px;
    }
}

@media screen and (min-width:$mediaMin) and (max-width:$mediaMobileMiddle) {
    .popup.button {
        max-width: 160px;
        height: 36px;
    }
    .logo-block .logo {
        max-width: 200px;
        display: block;
    }
}

@media screen and (min-width:$mediaMin) and (max-width:$mediaMobileVertical) {
    .popup.button {
        max-width: 120px;
        height: 30px;
    }
    .logo-block .logo {
        max-width: 160px;
        display: block;
    }
}