/* Variables */

// Colors
$black: #333;
$lightBlack: #4b4a4a;
$gray: #656363;
$lightGray: #D6D6D6;
$white: #FFF;
$redCalor: #f26341;
$greenCalor: green;

// Containers
$container: 1200px;
$medium-container: 900px;


// H

@mixin hOne {
    font: {
    size: 26px;
    weight: bold;
    }
    line-height: 32px;
    color: $black;
    text-transform: uppercase;
}

@mixin hTwo {
    font: {
    size: 22px;
    weight: bold;
    }
    line-height: 26px;
    color: $black;
}

// Buttons 
@mixin buttonSize {
    width: 100%;
    max-width: 200px;
    height: 40px;
}
@mixin buttonSizeSmall {
    width: 100%;
    max-width: 150px;
    height: 30px;
}
@mixin buttonSizeMobile {
    max-width: 160px;
    height: 36px;
}
@mixin buttonSizeMin {
    max-width: 120px;
    height: 30px;
}
//Media
$mediaDesktop: 1250px;  
$mediaMaxTablet: 1200px; 
$mediaTablet: 999px;  
$mediaMobileHorizontal: 768px;
$mediaMobileMiddle: 550px;
$mediaMobileVertical: 480px; 
$mediaMobileMin: 400px; 
$mediaMinPlus: 350px;  
$mediaMin: 300px; 

/* END Variables */