@import '_config';
@import 'templates/header/header';
@import 'templates/footer/footer';
@import 'templates/error/error';
@import 'templates/loader/loader';
@import 'templates/filter/filter';
@import 'categories/categories';
@import 'order/order';

/* Basic */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
    
    * {
    margin: 0;
    padding: 0;
    }
    
    html {
    height: 100%;
    }
    
    header, nav, section, main, article, aside, footer {
    display: block;
    }

    #__next {
        height: 100%;
    }
    
    body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    //color: $blackColor;
    margin: 0;
    padding: 0;
    }
    #root {
    height: 100%;
    }
    img{
    max-width:100%;
    height:auto;
    }
    ol, ul {
        padding-left: 0;
    }
    .main-menu .sub-menu {
        padding-left: 0;
    }
    code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
    }
    .container {
        margin: 0 auto; 
        max-width: $container; 
        width: 100%;  
        display: flex;
        flex-wrap: wrap;
    }
    .containerFixed {
        max-width: 1200px;
        margin: 0 auto;
    }
    .site h1 {
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
        color: #333;
        display: block;
        margin-top: 40px;
        margin-bottom: 25px;
        padding: 0 50px;
    }
    .site h2 {
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        color: #333;
        display: block;
        padding: 0 50px;
    }
    /* END Basic */

.column_1-2 {
    flex-basis: 50%;
}
.column_1-3 {
    flex-basis: 33%; 
}
.column_1-4 {
    flex-basis: 25%;  
}

.button {
    width: 100%;
    max-width: 200px;
    height: 40px;
    color: $black;
    border: 2px solid $black;
    box-sizing: border-box;
    background: $white;    
}
.button_black {
    color: $white;
    background: $black; 
}
body ul {
    list-style-type: none;  
    margin-bottom: 0;
}
.fa.fa-phone {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg); 
    transform: rotate(90deg);
}

.clear {
    clear: both;
}


/* Bootstrap emulation */
.error {
    color: $redCalor;	
    }
.success {
    color: $greenCalor;		
    }
    
.input-error {
        border: 1px solid $redCalor;
    }
    .site {
position: relative;
min-height: 100%;
    }
.content {
padding-bottom: 90px;
    }
    
footer.site-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
//  background: $blackColor;
//  color: $whiteColor; 
    } 
.container-block{
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

}   
.flex-block{
    display: flex;
}    
.full-width {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 40px;     
}
.left-block {
    flex-basis: 25%;
}
.right-block {
flex-basis: 25%;
}
.content-block {
flex-basis: 75%;
}

/* End bootstrap emulation */   

/* Main */ 
body .carousel .slide .legend {
    position: absolute;
    top: calc(50% - 33px);
    background: none;
    color: #fff;
    font-size: 34px;
    text-align: center;
    opacity: 1;
    }
    
body .carousel .control-dots .dot {
    width: 16px;
    height: 16px;
    }
body .carousel .thumbs.animated {
    display: none !important;
}  
.site .main-page h2 {
    padding: 0px 0px;
}

.contactForm {
    max-width: 400px;
    width: 100%;
} 
.contactForm input {
    max-width: 400px;
    border: 0;
    border-bottom: 1px solid #333;
    border-radius: 0;
}
.contactForm textarea {
    max-width: 400px;
    border: 0;
    border-bottom: 1px solid #333;
    border-radius: 0;
}
.contactForm input::placeholder {
    color: #656363;
    text-align: center;
}
.contactForm .form-group textarea::placeholder {
    color: #656363;
    text-align: center;
} 
.contactForm button {
    background: #333;
    outline: 0;
    border: 0;
    max-width: 200px;
    width: 100%;
    border-radius: 0;
    margin: 30px auto;
    display: block;
    padding: 0;
    line-height: 34px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 15px;
}
.contactForm .error {
    margin-bottom: 10px;
    font-size: 13px;
}  
.contactForm h2 {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000;
}

/* Cart block */

/* Cart modal */
.cart-modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    z-index: 1000;
    /*	opacity: 0; */
    opacity: 1;
  }
  .cart-modal-wrapper.show {
    display: block;
  }
  .cart-modal-table {
    display: table;
    width: 100%;
    height: 100%;
  }
  .cart-modal-table__cell {
    display: table-cell;
    padding: 0 1em;
    vertical-align: middle;
    text-align: center;
  }
  .cart-modal-block {
    display: inline-block;
    padding: 30px;
    width: 100%;
    max-width: 700px;
    height: auto;
    background: #ffffff;
    -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    color: #0C0B0B;
    text-align: left;
    font-size: 13px;
    z-index: 9999;
    border-radius: 5px;
    position: relative;
    padding-bottom: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  .cart-close-modal {
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: #f26341;
    border-radius: 50%;
    color: #FFF;
    line-height: 25px;
  }
  .cart-modal-block h3 {
    text-align: center;
    color: #296976;
    font-size: 30px;
    font-family: Open Sans Bold;
    line-height: 40px;
    margin: 10px 0;
  }
  .cart-modal-block input {
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    padding: 10px;	
  }
  .cart-modal-block textarea {
    width: 100%;
    margin-bottom: 20px;
    height: 80px;
    padding: 10px;	
  }
  .cart-modal-block input[type="submit"] {
    width: 100%;
    max-width: 200px;
    margin: 10px auto;
    display: block;
    padding: 0;
    background: #f36341;
    color: #FFF;
    font-size: 16px;
    border: 0;
    outline: 0;
  }
  .cart-modal-block .ajax-loader {
    display: none !important;	
  }
  .cart-block {
    overflow-x: auto; 
    padding: 15px 10px; 
  }
  .cart-table { 
    border: 1px solid black;
  }
  .cart-table td {
    padding: 5px;  
    border: 1px solid black;
  }
  .cart h2 {
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #000;
    text-transform: none;
  }
  .cart-table {
    border: 0px solid black;
    width: 100%;
  }
  .cart-table td {
    border: 0px solid black;
  }
  .cart-table p {
    margin-bottom: 0px;
  }
  .cart-item {
    border-bottom: 1px dashed #333;
  }
  .product-manager__quantity .product__menus {
    display: block;
    width: 20px;
    height: 20px;
    color: #333;
    background: #FFF;
    border: 1px solid #333;
    padding: 0;
    border-radius: 3px;
    margin: 0;
    text-align: center;
    background: url(/assets/images/minus.png) no-repeat;
    background-position: center center;
  }
  .product-manager__quantity .product__plus {
    display: block;
    width: 20px;
    height: 20px;
    color: #333;
    background: #FFF;
    border: 1px solid #333;
    padding: 0;
    border-radius: 3px;
    margin: 0;
    text-align: center;
    background: url(/assets/images/plus.png) no-repeat;
    background-position: center center;
  }
  .product-manager__quantity .product__quantity_current {
    display: block;
    margin: 5px 0;
    text-align: center;
    max-width: 20px;
  }
  .product-manager__quantity input {
    display: inline-block;
    vertical-align: top;
  }
  .product-manager__quantity button {
    display: inline-block;
    vertical-align: top;
  }
  .product__delete {
    background: transparent;
    border: 0;
    font-size: 20px;
    color: red;
  }
  .product__total-price {
    margin: 5px 0;
  }
  .product__continue {
    width: 100%;
    max-width: 150px;
    height: 30px;
    color: #333;
    border: 2px solid #333;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #FFF;
    text-transform: uppercase;
    float: left;
  }
  .product__toorder a {
    display: block;
    width: 100%;
    max-width: 150px;
    height: 30px;
    color: #fff;
    border: 2px solid #333;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #333;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    line-height: 25px;
    float: right;
  }
  .product__toorder a:hover {
    color: #fff; 
  }


/* Comments form*/
.comments-form h2 {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000;
  }
  .comments-form {
    width: 100%;
  }  
  .comments-form .form-group input {
    border: 0;
    border-bottom: 1px solid #333;
    border-radius: 0;
  }  
  .comments-form .form-group textarea {
    border: 0;
    border-bottom: 1px solid #333;
    border-radius: 0;
  }  
  .comments-form .form-group input::placeholder {
    color: #656363;
    text-align: center;
  }  
  .comments-form .form-group textarea::placeholder {
    color: #656363;
    text-align: center;
  }
  .comments-form button {
    background: #333;
    outline: 0;
    border: 0;
    max-width: 200px;
    width: 100%;
    border-radius: 0;
    margin: 30px auto;
    display: block;
    padding: 0;
    line-height: 34px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 15px;
  }
  .comments-form .error {
    margin-bottom: 10px;
    font-size: 13px;
  }

@media screen and (min-width:1200px){
    .site .main-page h2 {
        padding: 0px 30px;
    }
}

@media screen and (min-width:1000px){
  .mobile {
    display: none;
  }
}
  
@media screen and (min-width:300px) and (max-width:999px) {
  .flex-block{
    flex-wrap: wrap;
  }
  .full-width {
    padding: 0;
  }
  body .products .column_1-3 {
    flex-basis: 50%;
  }
  body .container {
    max-width: 100%;
    padding: 0 10px;
  }
  .main-page__content {
    padding: 10px;
  }
} 

@media screen and (min-width:300px) and (max-width:768px) {
    .contactForm {
        margin: 10px auto;
    }
    .cart-modal-block {
        padding: 30px 10px;
      }
}

@media screen and (min-width:300px) and (max-width:550px) {
    body .products .column_1-3 {
        flex-basis: 100%;
    }
    body .specials_productsSpecialsWrap > div {
        flex-basis: 100% !important;
    } 
    body .site .contactForm h2 {
        text-align: center;
    } 
    .cart-modal-block h3 {	 
        font-size: 20px;
        line-height: 25px;
      }  
}

@media screen and (min-width:300px) and (max-width:480px) {
    .cart-modal-block {
      padding: 30px 0px;
    }
  }

  @media screen and (min-width:300px) and (max-width:400px) {
    .product__continue {
      float: none;
      margin: 20px auto;
      display: block;
    }
    .product__toorder a {
      float: none;
      margin: 20px auto;  
    }
    .cart-modal-block {
      padding-bottom: 0px;
    }
  }  
  @media screen and (min-width:300px) and (max-width:480px) {
    .cart-block {
      padding: 15px 10px;
    }
  }  

    /* End main */ 